WorldMap.MVC/Service References/ContinentDataServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WorldMap.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WorldMap.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ContinentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContinentId" type="xs:int" />
      <xs:element minOccurs="0" name="ContinentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="countryData" nillable="true" type="tns:ArrayOfCountryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContinentData" nillable="true" type="tns:ContinentData" />
  <xs:complexType name="ArrayOfCountryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryData" nillable="true" type="tns:CountryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryData" nillable="true" type="tns:ArrayOfCountryData" />
  <xs:complexType name="CountryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContinentId" type="xs:int" />
      <xs:element minOccurs="0" name="CountryCapital" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsIsland" type="xs:boolean" />
      <xs:element minOccurs="0" name="overseasTerritoriesData" nillable="true" type="tns:ArrayOfOverseasTerritoriesData" />
      <xs:element minOccurs="0" name="stateData" nillable="true" type="tns:ArrayOfStateData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryData" nillable="true" type="tns:CountryData" />
  <xs:complexType name="ArrayOfOverseasTerritoriesData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OverseasTerritoriesData" nillable="true" type="tns:OverseasTerritoriesData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOverseasTerritoriesData" nillable="true" type="tns:ArrayOfOverseasTerritoriesData" />
  <xs:complexType name="OverseasTerritoriesData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="OverseasTerritoriesId" type="xs:int" />
      <xs:element minOccurs="0" name="OverseasTerritoriesName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OverseasTerritoriesData" nillable="true" type="tns:OverseasTerritoriesData" />
  <xs:complexType name="ArrayOfStateData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StateData" nillable="true" type="tns:StateData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStateData" nillable="true" type="tns:ArrayOfStateData" />
  <xs:complexType name="StateData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="StateCapital" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateId" type="xs:int" />
      <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cityData" nillable="true" type="tns:ArrayOfCityData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StateData" nillable="true" type="tns:StateData" />
  <xs:complexType name="ArrayOfCityData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CityData" nillable="true" type="tns:CityData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCityData" nillable="true" type="tns:ArrayOfCityData" />
  <xs:complexType name="CityData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityId" type="xs:int" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="StateId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityData" nillable="true" type="tns:CityData" />
  <xs:complexType name="ArrayOfContinentData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContinentData" nillable="true" type="tns:ContinentData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContinentData" nillable="true" type="tns:ArrayOfContinentData" />
</xs:schema>