WorldMap.MVC/Service References/OverseasTerritoriesDataServiceReference/OverseasTerritoriesDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OverseasTerritoriesDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/OverseasTerritoriesData/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/OverseasTerritoriesData/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/OverseasTerritoriesData/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorldMap.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOverseasTerritoriesDataService_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IOverseasTerritoriesDataService_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IOverseasTerritoriesDataService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IOverseasTerritoriesDataService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IOverseasTerritoriesDataService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IOverseasTerritoriesDataService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IOverseasTerritoriesDataService_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="IOverseasTerritoriesDataService_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IOverseasTerritoriesDataService_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectById" />
  </wsdl:message>
  <wsdl:message name="IOverseasTerritoriesDataService_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IOverseasTerritoriesDataService">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IOverseasTerritoriesDataService/Insert" message="tns:IOverseasTerritoriesDataService_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOverseasTerritoriesDataService/InsertResponse" message="tns:IOverseasTerritoriesDataService_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IOverseasTerritoriesDataService/Delete" message="tns:IOverseasTerritoriesDataService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOverseasTerritoriesDataService/DeleteResponse" message="tns:IOverseasTerritoriesDataService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IOverseasTerritoriesDataService/Update" message="tns:IOverseasTerritoriesDataService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOverseasTerritoriesDataService/UpdateResponse" message="tns:IOverseasTerritoriesDataService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IOverseasTerritoriesDataService/SelectAll" message="tns:IOverseasTerritoriesDataService_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOverseasTerritoriesDataService/SelectAllResponse" message="tns:IOverseasTerritoriesDataService_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/IOverseasTerritoriesDataService/SelectById" message="tns:IOverseasTerritoriesDataService_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOverseasTerritoriesDataService/SelectByIdResponse" message="tns:IOverseasTerritoriesDataService_SelectById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOverseasTerritoriesDataService" type="tns:IOverseasTerritoriesDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IOverseasTerritoriesDataService/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IOverseasTerritoriesDataService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IOverseasTerritoriesDataService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/IOverseasTerritoriesDataService/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <soap:operation soapAction="http://tempuri.org/IOverseasTerritoriesDataService/SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OverseasTerritoriesDataService">
    <wsdl:port name="BasicHttpBinding_IOverseasTerritoriesDataService" binding="tns:BasicHttpBinding_IOverseasTerritoriesDataService">
      <soap:address location="http://localhost:8080/OverseasTerritoriesData/WorldMap.ServiceDemo.OverseasTerritoriesDataService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>