WorldMap.MVC/Service References/RoleDataServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WorldMap.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WorldMap.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RoleData">
    <xs:sequence>
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userRoleMapping" nillable="true" type="tns:ArrayOfUserRoleMapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleData" nillable="true" type="tns:RoleData" />
  <xs:complexType name="ArrayOfUserRoleMapping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRoleMapping" nillable="true" type="tns:UserRoleMapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRoleMapping" nillable="true" type="tns:ArrayOfUserRoleMapping" />
  <xs:complexType name="UserRoleMapping">
    <xs:sequence>
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserRoleMappingId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRoleMapping" nillable="true" type="tns:UserRoleMapping" />
  <xs:complexType name="ArrayOfRoleData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleData" nillable="true" type="tns:RoleData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleData" nillable="true" type="tns:ArrayOfRoleData" />
</xs:schema>